@font-face {
	font-family: 'Nunito';
	src: url('./assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('ttf');
}

body {
  background-color: #FFF;
	margin: 0;
  padding: 0;
	color: #39414B;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 800;
}
